<div class="main col-md-5">

	<a href="/<%= @post.user.username %>"> <%= @post.user.username %> </a> posted:
	<h3><%= @post.title %><br/></h3>
	<%= @post.content %>
<br/>
	<a href="/reblog/<%= @post.id %>">Reblog</a>
</div>